<!--Vanessa Gutierrez 02/05/2021-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-yellow-50">
    <div id="app">
      <h1 id="title" class="text-3xl text-center mt-4 text-gray-800 font-bold">
        {{title}}
      </h1>
      <h3 class="text-base text-center mt-2 text-gray-700">
        Total Amount of Inventory: {{total}}
      </h3>
      <div class="flex flex-col">
        <input
          placeholder="New Product Item"
          type="text"
          class="rounded p-2 w-10/12 mx-auto mt-4 shadow-md"
          v-model="newProduct"
          @change="addProduct"
        />
        <ul>
          <li
            v-for="product in products"
            class="bg-white w-10/12 mx-auto mt-2 py-2 px-2 text-gray-800 rounded shadow-md"
          >
            <span v-if="product.qty == 0" class="text-xs font-bold text-red-600"
              >Out of Stock!</span
            >
            <span v-else>{{product.qty}}</span> - {{product.name}}
            <button
              class="bg-green-700 ml-10 px-4 text-white rounded hover:bg-green-900"
              @click="product.qty++"
            >
              +
            </button>
            <button
              v-show="product.qty>0"
              class="bg-red-700 ml-2 px-4 text-white rounded hover:bg-red-900"
              @click="product.qty--"
            >
              -
            </button>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
